.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
/* Animação de SAÍDA (A tela vai para a esquerda e some) */
.animacao-sair-esquerda {
    animation: deslizarParaEsquerda 0.5s forwards ease-in-out;
}

@keyframes deslizarParaEsquerda {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(-100%); opacity: 0; }
}

/* Animação de ENTRADA (A tela vem da direita e aparece) */
.animacao-entrar-direita {
    animation: deslizarDaDireita 0.5s forwards ease-in-out;
}

@keyframes deslizarDaDireita {
    from { transform: translateX(100vw); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Opcional: Para evitar barra de rolagem horizontal durante a animação */
body {
    overflow-x: hidden; 
}